/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4a4a4a;
    color: #fff;
}

/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 97px;
    background-color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ccc;
}

.nav {
    display: flex;
    gap: 140px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link.active {
    color: #4a4a4a;
}

/* Основная часть */
.main {
    padding: 20px;
}

/* Панель инструментов */
.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.icon-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.album-svicher {
    background-color: #4a4a4a;
    border: none;
}
.users-icon {
    /* background-image: url('/img/my-albums.svg'); */
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.create-album-button {
    padding: 10px 80px;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
}

/* Список альбомов */
.albums {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    gap: 20px; /* Расстояние между альбомами */
    width: 100%;
}

.album {
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.album a {
    text-decoration: none;
    color: #fff;
}
.fixed-thumbnail {
    background-size: 17%;
    background-repeat: no-repeat;
    background-color: #fff;
}
.album-thumbnail {
    height: 250px;
    background-position: center;
    border-radius: 7px;
    border: 1px solid #000;
    width: 100%; /* Ширина будет автоматически подстраиваться под размеры сетки */
}
.photo {
    position: relative;

    max-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #000;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);
        z-index: 0;
    }

    img {
        height: 100%;
        z-index: 1;
    }
}

.album-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
}
.modalka {
    display: none;
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;

    form {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        z-index: 1000;
    }

    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    button {
        padding: 10px 20px;
    }
}

body.modalka-open {
    overflow: hidden;
}

.input-file-row {
    display: inline-block;
}
.input-file {
    position: relative;
    display: flex;
}
.input-file span {
    position: relative;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    text-align: center;
    background-color: #707070;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 0;
}
.input-file input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Список файлов */
.input-file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    padding: 10px 0;
}
.input-file-list-item {
    margin-bottom: 10px;
}
.input-file-list-remove {
    color: red;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
}
