.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    > .photo {
        border-radius: 10px;
    }
}
.photo {
    position: relative;

    max-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #000;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);
        z-index: 0;
    }

    img {
        height: 100%;
        z-index: 1;
    }
}
form {
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.upload-button {
    padding: 10px 0;
    width: 100%;
    min-width: 150px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.context-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 10px;
    left: 491px;
    top: 442px;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    z-index: 1000;
}

.context-menu-item {
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}

/* стили для формы имени фото */
.edit-name-form {
    display: none; /* Скрываем форму по умолчанию */
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border: 1px solid #ccc;
}

#rename-form-container {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#rename-form input {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

#rename-form button {
    padding: 5px 10px;
    /* margin-right: 5px; */
    width: 90px;
    gap: 3;
    margin-top: 5px;
}
.context-menu-btn {
    background-color: #ffffff;
    border: none;
    display: flex;
}
#rename-form-container {
    display: none;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.custom-tooltip {
    display: none; /* Скрываем подсказку по умолчанию */
    position: absolute;
    bottom: 100%; /* Располагаем подсказку над фотографией */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8); /* Фон подсказки */
    color: white; /* Цвет текста */
    padding: 5px 10px; /* Отступы */
    border-radius: 5px; /* Скругление углов */
    font-size: 14px; /* Размер текста */
    white-space: nowrap; /* Текст в одну строку */
    z-index: 1000; /* Убедитесь, что подсказка поверх других элементов */
}

main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

aside {
    min-width: 250px;

    > div {
        position: fixed;
    }
}
ul.provider {
    overflow: auto;
    max-width: 250px;
    height: calc(100vh - 200px);

    ul {
        margin-left: 20px; /* Отступ для каждого уровня вложенности */
    }
    li {
        cursor: pointer;
        list-style: none;
        padding: 5px 0;
    }
    li:hover {
        background: #0000001e;
    }
    .hidden {
        display: none;
    }
    .album-header {
        height: 22px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 5px;
    }
    .album-photos li {
        height: 50px;
    }
    img {
        height: 100%;
    }
}
