/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4a4a4a;
    color: #fff;
}

/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 97px;
    background-color: #000;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.photo-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #696969;
}
.albom-passive {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ccc;
}

.nav {
    display: flex;
    gap: 140px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link.active {
    color: #4a4a4a;
}

/* Основная часть */
.main {
    padding: 20px;
    margin-top: 100px;
}

/* Панель инструментов */
.toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 25px;
    margin-bottom: 20px;
}

.icon-button {
    width: 40px;
    height: 40px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar-icon {
    /* background-image: url('calendar-icon.svg'); */
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-icon {
    /* background-image: url('grid-icon.svg'); */
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Основной контейнер */
.custom-select {
    position: relative;
    display: inline-block;
}

/* Текущая выбранная картинка */
.select-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 100%;
        min-width: 60px;
        max-height: 60px;
        object-fit: contain;
    }
}

/* Выпадающий список */
.select-dropdown {
    display: none; /* Скрыт по умолчанию */
    position: absolute;
    top: 60px; /* Расположение ниже выбранной картинки */
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

/* Элементы внутри выпадающего списка */
.select-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    color: #4a4a4a;

    img {
        width: 30px; /* Размер картинки */
        height: 30px;
        object-fit: contain;
    }
}

.select-option:hover {
    background: #f0f0f0;
}

/* стили для grid */

.custom-select-grid {
    position: relative;
    display: inline-block;
    width: 68px; /* Ширина кастомного select */
}

/* Текущая выбранная картинка */
.select-toggle-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-toggle-grid img {
    width: 100%; /* Изображение будет полностью заполнять блок */
    max-height: 60px; /* Ограничение по высоте */
    object-fit: contain;
}

/* Выпадающий список */
.select-dropdown-grid {
    display: none; /* Скрыт по умолчанию */
    position: absolute;
    top: 60px; /* Расположение ниже выбранной картинки */
    left: 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

/* Элементы внутри выпадающего списка */
.select-option-grid {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    color: #4a4a4a;
}

.select-option-grid:hover {
    background: #f0f0f0;

    img {
        width: 30px; /* Размер картинки */
        height: 30px;
        object-fit: contain;
    }
}

.modalka {
    display: none;
    position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;

    form {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        z-index: 1000;
    }

    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    button {
        padding: 10px 20px;
    }
}

body.modalka-open {
    overflow: hidden;
}
